@import url("./navbar.css");
@import url("./home.css");
@import url("./about.css");
@import url("./gallery.css");
@import url("./news.css");
@import url("./videos.css");
@import url("./calendar.css");
@import url("./bulletin.css");
@import url("./footer.css");
@import url("./apply.css");

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow-x: hidden;
	background-color: #e8d2c146;
}

:root {
	--primary-orange: #e7731d;
	--tertiary-orange: rgba(231, 115, 29, 0.06);
	--secondary-orange: rgba(231, 115, 29, 0.2);
	--second-shade-orange: #e8d2c1;
	--primary-violet: #1f1938;
	--padding: 300px;
	--heading-size: 48px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
